body{
    margin: 0;
}
*{
    margin: 0;
}
h1{
    /* display: inline; */
     color: blue;
    /* font-size: 350px; */
    /* margin: 20px 30px 50px 40px; */
    /* margin-right: 50px; */
    /* border: 30px; */
    /* padding: 40px; */ 
}
.section{
    /* margin-top: 100px; */
    display: grid;
    grid-template-columns: 100px, 100px, 1fr;
    
}
.fashion{
    display: flex;
    justify-content: center;
    align-items: start;
}
